* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased; 
}

ul {
  list-style: none; 
}

a {
  text-decoration: none; 
  color: inherit;
}