<footer class="footer">
    <div class="footer__content">
        <p class="footer__copy">
            &copy; 2026 Adriann Paranhos. <span class="highlight">Software Engineer</span>.
        </p>
        
        <div class="footer__socials">
            <a href="mailto:adriannparanhos@gmail.com" target="_blank" class="footer__link" aria-label="Enviar Email">
                <img src="assets/images/icons/email-mail-svgrepo-com.svg" alt="Email">
            </a>
            
            <a href="https://github.com/adriannparanhos" target="_blank" rel="noopener noreferrer" class="footer__link" aria-label="Acessar GitHub">
                <img [src]="toolsPlatformsIcons.GITHUB" alt="GitHub">
            </a>
            
            <a href="https://www.linkedin.com/in/adriannparanhos/" target="_blank" rel="noopener noreferrer" class="footer__link" aria-label="Acessar LinkedIn">
                <img src="assets/images/icons/linkedin-color-svgrepo-com.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>