<header class="header">
    <nav class="header__nav">
        <ul class="header__list">
            <li><a class="header__link" routerLink="/home" routerLinkActive="header__active-link">Home</a></li>
            <li><a class="header__link" routerLink="/about" routerLinkActive="header__active-link">About</a></li>
            <li><a class="header__link" routerLink="/projects" routerLinkActive="header__active-link">Projects</a></li>
            <li><a class="header__link" routerLink="/contact" routerLinkActive="header__active-link">Contact</a></li>
        </ul>
    </nav>
    <div class="header__icons">
        <img 
            [src]="isDarkMode ? 'assets/images/icons/moon-svgrepo-com.svg' : 'assets/images/icons/sun-svgrepo-com.svg'" 
            [alt]="isDarkMode ? 'Modo Claro' : 'Modo Escuro'" 
            class="header__imgs"
            (click)="toggleTheme()"
        >
        <img src="https://cdn.jsdelivr.net/gh/madebybowtie/FlagKit@2.2/Assets/SVG/BR.svg" alt="">
        <img src="https://cdn.jsdelivr.net/gh/madebybowtie/FlagKit@2.2/Assets/SVG/US.svg" alt="">
    </div>
</header>