<header class="header">
    <nav class="header__nav">
        <ul class="header__list">
            <li><a class="header__link" routerLink="/home">Home</a></li>
            <li><a class="header__link" routerLink="/about">About</a></li>
            <li><a class="header__link" routerLink="/projects">Projects</a></li>
        </ul>
    </nav>
    <div class="header__icons">
        <img src="assets/images/icons/moon-svgrepo-com.svg" alt="Modo Escuro" class="header__imgs">
        <img src="https://cdn.jsdelivr.net/gh/madebybowtie/FlagKit@2.2/Assets/SVG/BR.svg" alt="">
        <img src="https://cdn.jsdelivr.net/gh/madebybowtie/FlagKit@2.2/Assets/SVG/US.svg" alt="">
    </div>
</header>