@use 'variables' as theme;
@use 'mixins' as tools;

.header {
    padding: theme.$spacing-md;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    &__nav {
        grid-column: 2;
    }

    &__list {
        @include tools.flex-center;
        gap: theme.$spacing-md;
        font-size: theme.$font-size-lg;
    }

    &__link {
        text-decoration: none;
        color: theme.$text-light;
        font-family: theme.$font-code; 
        
        &:hover {
            color: theme.$primary-color;
        }
    }

    &__icons {
        grid-column: 3;
        justify-self: end; 
        
        @include tools.flex-center; 
        gap: 15px; 

        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1); 
            }
        }
    }
}