<section class="about">
    <div class="about__info">
        <h1>About Me</h1>
        <p>
            Desenvolvedor full stack especializado em Java e Angular, com experiência no
            desenvolvimento de sistemas corporativos e aplicações web. Tenho foco em performance,
            manutenibilidade e boas práticas, atuando desde a construção do frontend até a lógica de
            backend e integração com APIs. 
        </p>
    </div>
    <div class="about__img">
        <img src="assets/images/icons/images.jpg" alt="Profile Image">
    </div>
</section>

<section class="skills">
    <div class="skills__programming">
        
        <div class="skills__title">
            <h1>Linguagens de programação</h1>
        </div>

        <div class="skills__list">
            
            <div class="skills__container">
                <img src="assets/images/icons/java-4-logo-svgrepo-com.svg" alt="Java">
                <p>Java</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/typescript-logo-svgrepo-com.svg" alt="Typescript">
                <p>Typescript</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/javascript-svgrepo-com.svg" alt="Javascript">
                <p>Javascript</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/csharp-svgrepo-com.svg" alt="C#">
                <p>C#</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/cplusplus-svgrepo-com.svg" alt="C++">
                <p>C++</p>
            </div>

        </div>
    </div>

    <div class="skills__bd">
        <div class="skills__title">
            <h1>Banco de dados</h1>
        </div>

        <div class="skills__list">
            <div class="skills__container">
                <img src="assets/images/icons/sql-svgrepo-com.svg" alt="SQL">
                <p>SQL</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/postgresql-svgrepo-com.svg" alt="PostgreSQL">
                <p>PostgreSQL</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/mongodb-svgrepo-com.svg" alt="MongoDB">
                <p>MongoDB</p>
            </div>
        </div>
    </div>

    <div class="skills__librariesAndFrameworks">
        <div class="skills__title">
            <h1>Bibliotecas e Frameworks</h1>
        </div>

        <div class="skills__list">
            <div class="skills__container">
                <img src="assets/images/icons/spring-boot-svgrepo-com.svg" alt="Spring Boot">
                <p>Spring Boot</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/angular-icon-svgrepo-com.svg" alt="Angular">
                <p>Angular</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/react-svgrepo-com.svg" alt="React">
                <p>React</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/tailwind-svgrepo-com.svg" alt="Tailwind CSS">
                <p>Tailwind CSS</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/sass-svgrepo-com.svg" alt="SaSS">
                <p>SaSS</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/rxjs-1.svg" alt="RxJS">
                <p>RxJS</p>
            </div>
        </div>
    </div>

    <div class="skills__toolsPlatforms">
        <div class="skills__title">
            <h1>Ferramentas e Plataformas</h1>
        </div>

        <div class="skills__list">
            <div class="skills__container">
                <img src="assets/images/icons/node-js-svgrepo-com.svg" alt="Node">
                <p>Node</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/docker-svgrepo-com.svg" alt="Docker">
                <p>Docker</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/vercel-icon-svgrepo-com.svg" alt="Vercel">
                <p>Vercel</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/git-svgrepo-com.svg" alt="Git">
                <p>Git</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/github-svgrepo-com.svg" alt="GitHub">
                <p>GitHub</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/figma-svgrepo-com.svg" alt="Figma">
                <p>Figma</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/insomnia-svgrepo-com.svg" alt="Insomnia">
                <p>Insomnia</p>
            </div>
        </div>
    </div>

    <div class="skills__gameDev">
        <div class="skills__title">
            <h1>Game Dev</h1>
        </div>

        <div class="skills__list">
            <div class="skills__container">
                <img src="assets/images/icons/unity-svgrepo-com.svg" alt="Unity">
                <p>Unity</p>
            </div>

            <div class="skills__container">
                <img src="assets/images/icons/unreal-engine-svgrepo-com.svg" alt="Unreal">
                <p>Unreal</p>
            </div>
        </div>
    </div>
</section>