<section class="hero">
  <div class="hero__content">
    <h2 class="hero__greeting">{{ t().HERO.GREETING }}</h2>
    <h1 class="hero__title">
      {{ t().HERO.TITLE_1 }}<span class="highlight">{{ t().HERO.TITLE_HIGHLIGHT_1 }}</span> <br>
      <span [innerHTML]="t().HERO.TITLE_2"></span><span class="highlight">{{ t().HERO.TITLE_HIGHLIGHT_2 }}</span>.
    </h1>
    <p class="hero__description">{{ t().HERO.DESCRIPTION }}</p>
    
    <div class="hero__actions">
      <a routerLink="/projects" class="btn btn--primary">{{ t().HERO.BTN_PROJECTS }}</a>
      <a routerLink="/about" class="btn btn--outline">{{ t().HERO.BTN_ABOUT }}</a>
      <a href="assets/CV_Adriann_Postigo_Fullstack.pdf" download="Adriann_Paranhos_CV.pdf" target="_blank" class="btn btn--outline">
          {{ t().HERO.BTN_CV }}
      </a>
    </div>
  </div>
</section>