<section class="hero">
  <div class="hero__content">
    <h2 class="hero__greeting">Olá, visitante. Eu sou Adriann.</h2>
    <h1 class="hero__title">
      Engenheiro de <span class="highlight">Software</span> <br>
      & Game<span class="highlight">Dev</span>.
    </h1>
    <p class="hero__description">
      Especialista em Angular, Java e Clean Architecture. 
      Transformo ideias em software de qualidade.
    </p>
    
    <div class="hero__actions">
      <a routerLink="/projects" class="btn btn--primary">Ver Projetos</a>
      <a routerLink="/about" class="btn btn--outline">Sobre Mim</a>
    </div>
  </div>
</section>