@use 'styles/variables' as var;
@import 'styles/reset';

body {
  background-color: var.$bg-dark;
  color: var.$text-light;
  font-family: var.$font-main;
  transition: background-color 0.5s ease, color 0.5s ease; 
}

.starry-background {
  background-color: var.$bg-dark;

  background-image:
    radial-gradient(rgba(255, 255, 255, 0.9) 1px, transparent 2px), 
    radial-gradient(rgba(255, 255, 255, 0.7) 1.5px, transparent 4px), 
    radial-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 3px), 
    radial-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 6px);

  background-size:
    199px 199px,
    311px 311px,
    467px 467px,
    599px 599px;

  background-position:
    20px 50px,
    150px 80px,
    300px 400px,
    500px 100px;

  transition: background-color 0.5s ease, background-image 0.5s ease;
}

[data-theme="light"] {
  
  body {
    background-color: var(--bg-main);
  }

  .starry-background {
    background-color: var(--bg-main);
    
    background-image:
      radial-gradient(var(--secondary-color) 1px, transparent 1.5px),
      radial-gradient(var(--secondary-color) 1.5px, transparent 2px),
      radial-gradient(var(--secondary-color) 1px, transparent 1.5px),
      radial-gradient(var(--secondary-color) 2px, transparent 2.5px);

    background-size:
      83px 83px,
      127px 127px,
      193px 193px,
      269px 269px; 

    background-position:
      15px 25px,
      85px 55px,
      140px 180px,
      50px 220px;
  }
}