<div class="hero">
    <div class="hero__grid">
        <div class="hero__container">
            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 1">
                    <div class="hero__text">
                        <h2>Projeto 1</h2>
                        <p>Descrição do projeto 1</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>
    
            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 2">
                    <div class="hero__text">
                        <h2>Projeto 2</h2>
                        <p>Descrição do projeto 2</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>
    
            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 3">
                    <div class="hero__text">
                        <h2>Projeto 3</h2>
                        <p>Descrição do projeto 3</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>

            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 3">
                    <div class="hero__text">
                        <h2>Projeto 4</h2>
                        <p>Descrição do projeto 4</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>

            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 3">
                    <div class="hero__text">
                        <h2>Projeto 5</h2>
                        <p>Descrição do projeto 3</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>

            <div class="hero__card">
                <div class="hero__content">
                    <img src="assets/images/projeto.jpg" alt="Projeto 3">
                    <div class="hero__text">
                        <h2>Projeto 6</h2>
                        <p>Descrição do projeto 6</p>
                    </div>
                    <button>Ver projeto</button>
                </div>
            </div>
        </div>
    </div>
</div>